@{
    ViewData["Title"] = "Home Page";
}

<h1>jQuery testing page</h1>

<p id="box" class="square">This is content to be clicked</p>

<div class="square">Mouseover this content to change backgroud color</div>

<h2>Sample clock: <span id="time"></span></h2>

<p id="fading">This text will change color 10 seconds after the page load</p>

<div style="border:dashed;border-color:black;padding:10px;">
    <form>
        <label>Enter text:</label>
        <input type="text" />
        <br />
        <input type="checkbox" id="accept" value="true" />&nbsp;I accept the terms and conditions.
        <input type="submit" value="Register" id="send" style="display:none;" />
    </form>
</div>
<br />
<div style="border:dotted;border-color:blue;padding:20px;">
    <div>
        <label for="countries>">Choose a country:</label>

        <select name="countries" id="countries">
            <option value="">-- Choose a value --</option>
            <option value="PT">Portugal</option>
            <option value="ES">Spain</option>
            <option value="FR">France</option>
        </select>
    </div>
    <div>
        <label for="cities">Choose a city:</label>
        <select name="cities" id="cities">

        </select>
    </div>
</div>


@section Scripts {
    <script>
        $('#box').click(function () {
            if (confirm("Want to change the color to red?")) {
                $(this).css("color", "red");
            }
            $(this).text("I was clicked!");
            $(this).css("background-color", "lightcyan");
        });

        $(".square").mouseover(function () { //switches the applied CSS class
            if ($(this).hasClass("alert-danger")) {
                $(this).addClass("alert-success");
                $(this).removeClass("alert-danger");
            }
            else {
                $(this).addClass("alert-danger");
                $(this).removeClass("alert-success");
            }
        });

        setInterval(function () {
            $("#time").text(new Date().toLocaleString());
        }, 1000);

        setTimeout(function () {
            // when fadeOut complete, apply new css style
            $("#fading").fadeOut(1000, function () {
                $(this).css({ "color": "red", "fomt-weight": "bold" }); // another way to represent the CSS property
            });
            $("#fading").fadeIn(1000);
        }, 10000);

        $("#accept").change(function () {
            if (this.checked) {
                $("#send").show();
            }
            else {
                $("#send").hide();
            }
        });

        $("#countries").change(function () {
            var index = $(this).val();

            $.getJSON("Home/testAjax", { id: index }, function (data) {
                var $selector = $("#cities");
                $selector.html(""); // clear all existing options in second dropdown

                if (data.length > 0) { //if returned any data, insert first option
                    $selector.append($("<option/>", { nodeValue: "", text: "-- Choose a city --" }));
                }

                $.each(data, function (index, val) {
                    $selector.append($("<option/>", {
                        value: val,
                        text: val
                    }));
                });

            })
        })
    </script>
}